In [2]:
import pandas as pd
import requests

In [3]:
r = requests.get("https://covidnigeria.herokuapp.com/api") #covid19 raw data
data = r.json() #specifying the type of data

In [4]:
Samples_Tested = data["data"]['totalSamplesTested']
confirmed_cases = data["data"]["totalConfirmedCases"]
Active_cases = data["data"]["totalActiveCases"]
Death = data["data"]["death"]
Discharged = data["data"]["discharged"]
all_states = data["data"]["states"]

In [5]:
keys = all_states[0].keys() #getting the keys for the all_state dictionary
length = len(all_states[0])
No_of_states = len(all_states)

In [6]:
#Adding the headers to the new txt
with open('Nigeria_covid19_data.txt', 'w') as r:
    for key in keys:
        #print(key) #printing out all the keys
        r.write(key)
        r.write(',')

In [7]:
file = open("Nigeria_covid19_data.txt", "a")
file.write("\n")
for state in range(No_of_states):
    file.write("\n")
    for key in keys:
        data = all_states[state][key]
        data = str(data)
        #print(data)
        file.write(data)
        file.write(",")

In [8]:
file.close()

In [9]:
data = pd.read_csv("Nigeria_covid19_data.txt")

In [10]:
data = data[["state", "confirmedCases","casesOnAdmission", "discharged", "death"]]

In [11]:
data = data.rename(columns={"state":"State", "confirmedCases":"Total_Confirmed_case", "casesOnAdmission":"Total_Active_case", "discharged":"Total_Recovered", "death": "Total_Death"})
data

,State,Total_Confirmed_case,Total_Active_case,Total_Recovered,Total_Death
0,Lagos,8407,6848,1436,123
1,FCT,1549,1046,475,28
2,Kano,1184,422,712,50
3,Rivers,866,480,356,30
4,Oyo,860,569,282,9
5,Edo,779,587,161,31
6,Ogun,623,250,358,15
7,Kaduna,552,256,286,10
8,Delta,501,360,124,17
9,Borno,466,82,353,31
10,Gombe,451,211,226,14
11,Bauchi,447,114,322,11
12,Katsina,426,171,233,22
13,Jigawa,317,120,191,6
14,Ebonyi,234,97,137,0
15,Abia,221,125,93,3
16,Plateau,220,101,114,5
17,Imo,205,181,21,3
18,Nasarawa,184,90,88,6
19,Kwara,180,52,122,6
20,Bayelsa,155,117,29,9
21,Sokoto,135,6,115,14
22,Ondo,134,76,42,16
23,Enugu,126,92,29,5
24,Zamfara,76,0,71,5
25,Kebbi,67,21,40,6
26,Anambra,66,6,51,9
27,Niger,66,31,33,2
28,AkwaIbom,65,23,40,2
29,Yobe,56,3,45,8
30,Osun,54,4,46,4
31,Adamawa,42,1,37,4
32,Benue,39,27,12,0
33,Ekiti,34,4,28,2
34,Taraba,18,8,10,0
35,Kogi,3,3,0,0

In [12]:
data.to_csv("Nigeria covid-19 case.csv", index=False)